body
{
	padding-top: 70px;
	margin: 3em 0;
	background-color: rgb(179, 255, 82);
	/*background-image:url('../img/bg.png');*/
}

ul#console-list li
{
	border-bottom: 1px dotted #ccc;
}

.big-number
{
	font-size: 13em;
	margin-bottom: 0em;
}
.small-text
{
	font-size: 1.5em;
	margin-top: -2.5em;
	padding-bottom: 3em;
}

#console-content
{
	max-height: 290px;
	overflow-y: auto;
}